[Unit]
Description=Touchpad Zoom Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/tz
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tz

[Install]
WantedBy=default.target
